/* body {
    height: 10000px;
    background-color: #ccc;
} */

* {
    margin: 0;
    padding: 0;
}

/* 搜索 */
.search-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* 搜索logo */
.search-box .search-logo {
    position: absolute;
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.4167rem;
    height: .4792rem;
    background: url(../images/search_logo.svg) 0 0;
    background-size: cover;
    overflow: hidden;
}

/* 搜索栏 */
.search-box .search-bar {
    position: absolute;
    top: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.7344rem;
    height: .2604rem;
}

/* 搜索引擎选项 */
.search-bar .search-select {
    position: absolute;
    left: .026rem;
    top: 50%;
    transform: translateY(-50%);
    width: .2083rem;
    height: .2083rem;
    background: url(../images/search_icon.png) no-repeat 0 0;
    background-size: 325%;
    cursor: pointer;
}

/* 搜索输入框 */
.search-box .search-bar input {
    width: 100%;
    height: 100%;
    font-size: .0833rem;
    color: #999;
    outline: none;
    text-indent: .2604rem;
    box-sizing: border-box;
    border: .0104rem solid #e6e6e6;
    border-radius: .0521rem;
    transition: all .6s;
}

.search-box .search-bar input::placeholder {
    font-size: .0833rem;
    color: #ccc;
}

.search-box .search-bar input:focus {
    border-color: rgb(7, 153, 250);
    box-shadow: 0 0 .086rem rgba(7, 153, 250, .1);
}

/* 搜索button */
.search-bar .search-btn {
    position: absolute;
    right: .026rem;
    top: 50%;
    transform: translateY(-50%);
    width: .2083rem;
    height: .2083rem;
    background: url(../images/searchlogo_gray.svg) no-repeat center;
    background-size: 62%;
    cursor: pointer;
    transition: all .6s;
}

.search-bar .search-btn:hover {
    background-image: url(../images/searchlogo_blue.svg);
}

/* 搜索引擎选项卡 */
.search-card {
    display: none;
    position: absolute;
    bottom: -0.0521rem;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    border: .0104rem solid #e6e6e6;
    border-radius: .026rem;
    background-color: #fff;
    box-shadow: 0 0 .05rem rgba(0, 0, 0, .1);
}

.search-card .arrow {
    position: absolute;
    left: .0525rem;
    top: -0.0104rem;
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border: .0521rem solid transparent;
    border-bottom-color: #fff;
}

.search-card ul {
    list-style: none;
}

.search-card ul li {
    float: left;
    width: 31.9%;
    font-size: .0625rem;
    color: #333;
    line-height: 0.1302rem;
    text-align: center;
    margin: .026rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: .026rem;
    cursor: pointer;
    transition: all .6s;
}

.search-card ul li:hover {
    color: #4285f4;
}

.search-card ul li .search-items-ico {
    float: left;
    width: .1302rem;
    height: .1302rem;
    background: url(../images/search_icon.png) no-repeat -0.4167rem 0;
    background-size: 520%;
}

/* footer */
footer {
    position: absolute;
    bottom: .15rem;
    left: 50%;
    font-size: .0625rem;
    color: #333;
    text-align: center;
    transform: translateX(-50%);
}

footer a {
    line-height: .13rem;
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}